:root {
	--base: #ffc600;
	--spacing: 1rem;
	--blur: 1rem;
}

img {
	padding: var(--spacing);
	background: var(--base);
	filter: blur(var(--blur));
}

.hl {
	color: var(--base);
}


/*
	Default styles
*/

body {
	background: #193549;
}

header a {
	color: white;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	font-family: 'helvetica neue', sans-serif;
	font-weight: 100;
	font-size: 5rem;
}

.controls {
	margin-bottom: 5rem;
}

input {
	width: 10rem;
}